.square {
    overflow: hidden;
    border: 0.05em solid #727272;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    height: 4em;
    width: 4em;
    cursor: pointer;
}

.board-row {
    height: 4em;
}

.board {
}

.piece-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.piece-img {
    display: block;
    width: 100%;
    height: auto;
}
